@charset "gb2312";
/* format */

body,div,table,tr,td,ul,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,form,select,blockquote{margin:0;padding:0;}
body{font-family:"宋体";font-size:12px;margin:0 auto;}
ul{list-style-type:none;}
img,input{border:none;}
a{color:#000000;text-decoration:none;}
a:hover{color:#f00;text-decoration:none;}
.clear{clear:both;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.clearfix{zoom:1;}
.showInline{display:inline;}
.showBlock{display:block;}
.hide{display:none;}
.fl{float:left;}
.fr{float:right;}

/* font */
.font8{ font-size:8px;}
.font10{ font-size:10px;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.fontArial{font-family:Arial, Helvetica, sans-serif}
.bold{font-weight:bold;}

/* text */
.textAlignLeft{text-align:left;}
.textAlignRight{text-align:right;}
.textAlignCenter{text-align:center;}
.valignMiddle{vertical-align:middle;}

/* margin padding */
.marginTop10{margin-top:10px;}
.marginTop20{margin-top:20px;}
.marginTop30{margin-top:30px;}
.marginBottom10{margin-Bottom:10px;}
.marginBottom20{margin-Bottom:20px;}
.marginBottom30{margin-Bottom:30px;}
.marginLeft10{margin-left:10px;}
.marginLeft20{margin-left:20px;}
.marginLeft30{margin-left:30px;}
.marginRight10{margin-right:10px;}
.marginRight20{margin-right:20px;}
.marginRight30{margin-right:30px;}
.paddingTop10{padding-top:10px;}
.paddingTop20{padding-top:20px;}
.paddingBottom10{padding-Bottom:10px;}
.paddingBottom20{padding-Bottom:20px;}
.paddingLeft10{padding-left:10px;}
.paddingLeft20{padding-left:20px;}
.paddingRight10{padding-right:10px;}
.paddingRight20{padding-right:20px;}

/* color */
.red{color:#f00;}
.redDeep{color:#400000;}
.purple{color:#9932cd;}
.magenta{color:#f0f;}
.blue{color:#00f;}
.blue0{color:#007acb;}
.orange{color:#f60;}
.green{color:#0f0;}
.yellow{color:#ff0;}
.white{color:#fff;}
.black{color:#000;}
.gray3{color:#333;}
.gray4{color:#4e4e4e;}
.gray6{color:#666;}
.gray7{color:#727272;}
.gray9{color:#999;}
.grayC{color:#ccc;}

/* link color */
a.a_red{color:#f00;}
a.a_red:hover{color:#f00;}
a.a_purple{color:#90f;}
a.a_purple:hover{color:#90f;}
a.a_magenta{color:#f0f;}
a.a_magenta:hover{color:#f0f;}
a.a_blue{color:#00f;}
a.a_blue:hover{color:#00f;}
a.a_blue0{color:#007acb;}
a.a_blue0:hover{color:#007acb;}
a.a_orange{color:#f60;}
a.a_orange:hover{color:#f60;}
a.a_orange0{color:#f0870c;}
a.a_orange0:hover{color:#f0870c;}
a.a_green{color:#0f0}
a.a_green:hover{color:#0f0;}
a.a_yellow{color:#ff0;}
a.a_yellow:hover{color:#ff0;}
a.a_white{color:#fff;}
a.a_white:hover{color:#fff;}
a.a_black{color:#000;}
a.a_black:hover{color:#000;}
a.a_gray3{color:#333;}
a.a_gray3:hover{color:#333;}
a.a_gray4{color:#4e4e4e;}
a.a_gray4:hover{color:#4e4e4e;}
a.a_gray6{color:#666;}
a.a_gray6:hover{color:#666;}
a.a_gray9{color:#999;}
a.a_gray9:hover{color:#999;}

/* color */
.c757575{color:#757575;}


/*分页样式*/
.art_pagelist{line-height:30px; width:590px; text-align:center; padding:12px 0 12px 16px;}
.art_pagelist li{ display:inline; line-height:17px; margin-right:10px; font-family:"Tahoma"; font-size:14px;}
.art_pagelist li a{ border-bottom:1px solid #EEE; color:#666; padding:2px 4px;}
.art_pagelist li a:hover{ border-bottom:2px solid #FF6633; color:#FF6633;}
.art_pagelist li a.nohover{ border-bottom:1px solid #EEE; color:#666;}
.art_pagelist li.thisclass a{ border-bottom:2px solid #b60000; color:#b60000; font-weight:bold; padding:2px 4px 1px;}